= form_for @poem do |f|
  .poem-title.poem-topbot
    = f.text_field :title, class: 'poem-input major-input', id: 'new-title', placeholder: 'Click to enter title'
    = f.text_field :author, class: 'poem-input minor-input', id: 'new-author', placeholder: 'Click to enter author'
  .poem-body
    = f.text_area :body, id: 'new-body'
  = f.button "Submit", type: 'submit', class: 'btn btn-warning', id: 'submit-poem'
