.search-bar
  %input.poem-input.author.letterpress#title-search{type: 'text', placeholder: 'Title Search'}
  %input.poem-input.author.letterpress#author-search{type: 'text', placeholder: 'Author Search'}
  %input.poem-input.author.letterpress#body-search{type: 'text',   placeholder: 'Body Search'}
  %button.poem-index-title.letterpress.clear-button#send-search Search
.poems-index.col-xs-12.col-sm-7
  %h1 browse poems
  %h3#search-by
    - if @search
      = "#{pluralize(@poems.count, 'result')} for"
      %span.search-param= "[tag] #{@search[:tag]}"
    - else
      recent additions
  %ul#poems-list.poems-list
    = render @poems
.tags-index.col-xs-12.col-sm-5
  %h1 get inspired!
  %h3 see poems by tag
  #tags-list
