.poem-container{ "data-poem-id" => "#{@poem.id}" }
  .poem-title
    %h1.poem-title-bar #{@poem.title}
    %h3.poem-author-bar #{@poem.author}
  .poem-body
    %pre #{@poem.body}

.readings-container
  %ul#reading-list

.new-reading-container
  %h1 Is this thing on?
  %button.btn.btn-success#toggle-recording Start Recording
  %button.btn.btn-warning.hidden#save-recording Save to Server
  %input#recording-desc.hidden{ type: "text", placeholder: "Description" }/
  #default-player.hidden
  #playstuff

-# I honestly think this is the most elegant way to do this given that we want
-# this to be rendered using JS and require the poem.id to make a request to the
-# readings controller
%script
  window.Playetry.audioControl.getReadings("#{@poem.id}")
