{{#if is_users}}
  <li class="user-reading">
{{else}}
  <li>
{{/if}}
    <div class="player-container" data-reading-id="{{id}}">
      <div class="fav-reading">
        {{#if user_fav}}
          <span class="glyphicon glyphicon-heart is-fav"></span>
        {{else}}
          <span class="glyphicon glyphicon-heart-empty"></span>
        {{/if}}
      </div>
      {{#if poem_url}}
        <a class="player-link" href="{{poem_url}}" alt="{{description}}">
          <h6 class="player-description">{{description}}
        </a>
      {{else}}
          <h6 class="player-description">{{description}}
      {{/if}}
          <span class="player-username">by {{username}}</span>
          </h6>
      <audio class="audio-player">
        <source src="{{wav_url}}" type="audio/wav" />
        Your browser does not support the audio tag.
      </audio>
      <div>
      <div class="player-glyph-container">
        <span class="play-pause-glyph glyphicon glyphicon-play" data-player-action="playPause"></span>
      </div>
      <div class="track-slider player-center" data-player-action="setTrackPosition">
        <div class="track-progress slider-bar" data-player-action="setTrackPosition"></div>
        <div class="track-time player-center">0:00</div>
      </div>
      <div class="player-glyph-container">
        <span class="volume-glyph glyphicon glyphicon-volume-up" data-player-action="toggleVolume"></span>
      </div>
      <div class="volume-meter player-center" data-player-action="clickVolumeSlider">
        <div class="volume-status slider-bar" data-player-action="clickVolumeSlider" data-player-vol="1"></div>
      </div>
      </div>
    </div>
  </li>
