<li>
  <div class="poem-index-container" data-poem-id="{{id}}">
    <h3 class="poem-index-title">
      <a href="{{url}}" class="poem-link letterpress" alt="{{title}}">{{title}}</a>
    </h3>
    <h6 class="poem-index-author letterpress">by {{author}}</h6>
  </div>
</li>
