<li>
  <div class="poem-index-container" data-poem-id="{{id}}">
    <a href="{{url}}" class="poem-link" alt="{{title}}">
      <h3 class="poem-index-title letterpress">{{title}}</h3>
    </a>
    <h6 class="poem-index-author letterpress">by {{author}}</h6>
  </div>
</li>
