%nav.main-nav
  %ul#nav-list.nav-list
    - if user_signed_in?
      %li.nav-li= link_to 'logout', destroy_user_session_path, method: :delete, class: 'nav-link letterpress'
      %li.nav-li= link_to 'my playetry', user_path, class: 'nav-link letterpress'
    - else
      %li.nav-li= link_to 'login', new_user_session_path, class: 'nav-link letterpress'
      %li.nav-li= link_to 'signup', new_user_registration_path, class: 'nav-link letterpress'
    %li.nav-li= link_to 'search', poems_path, class: 'nav-link letterpress'
    %li.nav-li= link_to 'write', new_poem_path, class: 'nav-link letterpress'
    %li.nav-li
      %h1.nav-logo= link_to 'playetry', root_path
