!!!
%html
  %head
    %title Playetry
    %meta{property: "og:image", content: image_url('playetry-og.png')}
    %meta{property: "og:site_name", content: "playetry"}
    %meta{property: "og:description", content: "Read, write, listen to and record poetry"}
    %meta{property: "og:url", content: "http://playetry.herokuapp.com"}
    %meta{property: "og:title", content: "playetry"}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{'data-controller' => "#{ controller.controller_path }", 'data-action' => "#{ controller.action_name }", 'data-current-user' => "#{ current_user.try(:id) }" }
    = render 'layouts/navbar'
    %p.notice= notice
    %p.alert= alert
    .container
      = yield

